body,html{
    font-family: Arial, Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(Untitled.png) center center;
    background-size:cover;
}
.contenedor{
    text-align: center;
    padding: 20px;
    background-color: #fffbe6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.boton-redireccion{
    background-color: blue;
    color: black;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    tex
}